<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
<title>HomePage</title>
</head>
<body class="p-2">
	<h1 class="text-center">Benvenuto al nostro ristorante</h1>
	<a class="nav-link active text-danger text-center pt-2" th:href="@{/pizze}">Clicca qui per vedere le nostre pizze!</a>
</body>
</html>