<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
	<title>Lista ingredienti</title>
</head>
<body class="p-4">
	<h1>Ingredienti:</h1>
	<a class="btn btn-small btn-success my-4" th:href="@{/ingredients/admin/create}" sec:authorize="hasAuthority('ADMIN')">Crea un ingrediente</a>
	<ul>
		<li class="pb-4"
			th:each="ingredient : ${ingredients}"
			th:object="${ingredient}"
		>
			[[ *{name} ]] => 
			<a th:href="@{/ingredients/admin/delete/{id} (id = *{id})}" sec:authorize="hasAuthority('ADMIN')">Elimina</a>
			<h4>Pizze: [[ *{pizze.size()} ]]</h4>
			<ul>
				<li
					th:each="pizza : *{pizze}"
					th:object="${pizza}"
				>
					[[ *{nome} ]]
				</li>
			</ul>
		</li>
	</ul>	
</body>
</html>